.bot-container {
  border: 5px solid #ccc;
  margin-right: 20px;
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}

.bot-image {
  width: 100px;
  height: 100px;
}

.bot-info {
  margin-top: 10px;
}

.bot-collection {
  padding: 20px;
}



